@import "../../../styles/settings.scss";

.root {
  align-items: center;
  background: white;
  border-radius: 5px;
  box-shadow: $box-shadow-small;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 2vh 0 2vh 0;
  width: 100%;
  input {
    margin: 1vh 0 1vh 0;
  }
  .offerDescriptionBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 100%;
    position: relative;
    button {
      height: 2em;
      position: absolute;
      width: 2em;
    }
    .removeOfferButton {
      right: -5%;
      top: 0;
    }
    .addOfferButton {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 10%);
    }
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .offerDescriptionBox {
      width: 100%;
    }
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
