@import "../../../styles/settings.scss";

.root {
  background: none;
  background: $button-main-bg;
  border-radius: 50%;
  border: none;
  color: $button-main-text;
  font-family: $font-text;
  height: 50px;
  width: 50px;
  transition: $transition;
  &:hover {
    background: $button-main-bg-hover;
  }
}
