@import "../../../styles/settings.scss";

.root {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  .editOfferButton {
    position: absolute;
    bottom: 0.2rem;
    left: 5%;
    z-index: 1;
  }
  .deleteOfferButton {
    position: absolute;
    top: -1rem;
    right: -0.5rem;
    z-index: 1;
  }
  .submitEditedOfferButton {
    position: absolute;
    bottom: 0.2rem;
    right: 5%;
    z-index: 1;
  }
  .offerPriceInput {
    width: 50%;
    text-align: center;
  }
  .offerColumnInner {
    align-items: center;
    background: $offer-bg;
    border-radius: 5px;
    box-shadow: $box-shadow-small;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    overflow: auto;
    position: relative;
    text-align: center;
    width: 100%;
    .offerTitle {
      background: linear-gradient(-45deg, #cfd9df 0%, #abbdc7 100%);
      color: $link-color;
      margin: 0;
      padding: 1vh 0 1vh 0;
      width: 100%;
    }
    .offerPrice {
      margin-bottom: 1vh;
    }
    .offerDescription {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 80%;
      list-style-type: none;
      overflow: auto;
      width: 100%;
      li {
        margin: 1vh 0 1vh 0;
        position: relative;
        width: 80%;
        p{
          margin: 0;
          padding: 0;
        }
        .sortOfferButton {
          position: absolute;
          left: -0.5rem;
          top: 50%;
          z-index: 1001;
        }
        .removeDescriptionButton,
        .submitDescriptionButton {
          position: absolute;
          right: -0.5rem;
          top: 50%;
          transform: translate(0, -60%);
        }
        button {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}
.sortableHelper {
  align-items: center;
  box-shadow: $box-shadow-small;
  display: flex;
  height: auto;
  justify-content: flex-start;
  list-style-type: square;
  padding: 1rem;
  position: relative;
  z-index: 1000 !important;
  background-color: $white;
  border-radius: $radius;
  text-align: left;
  p {
    margin: 0;
    padding: 0;
  }
  span {
    margin-right: 1rem;
    cursor: pointer;
  }
  .removeDescriptionButton {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -1rem;
  }
}
