@import "../../../styles/settings.scss";

.root {
  align-self: center;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.hideModalButton {
  align-items: center;
  background: linear-gradient(-45deg, #cfd9df 0%, #abbdc7 100%);
  color: $link-color;
  border-radius: 20%;
  border: none;
  display: flex;
  font-family: $font-title;
  font-size: 2em;
  height: 5vh;
  justify-content: center;
  outline: none;
  position: absolute;
  right: 2vh;
  top: 2vh;
  transition: background 1s ease-out;
  width: 5vh;
  z-index: 10;
  &:hover {
    color: $link-color-active;
  }
  p {
    // color: blue;
    // margin: 0;
    // padding: 0;
    margin-bottom: 0.3em;
    // position: absolute;

    // margin-bottom: 2em !important;
  }
}

.container {
  height: 100%;
  max-width: 1400px;
  width: 90%;
}

.workPhoto {
  border: none;
  height: 40%;
  outline: none;
  position: relative;
  width: 100%;
  img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &:hover .workDescription {
    color: $link-color-active;
  }
}
.workDescription {
  align-items: center;
  background-color: #edf7f6;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  color: $link-color;
  display: flex;
  font-family: $font-title;
  font-size: $base-size * 1.7;
  font-weight: 700;
  height: 75%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-decoration: none;
  text-shadow: $link-shadow;
  top: 50%;
  transform: translate(0, -50%);
  transition: $transition;
  width: 50%;
}

/*Devices over 1200 px*/
@media only screen and (min-width: 1201px) {
  .workPhoto {
    height: 40%;
    width: 60%;
  }
}
