@import "../../../styles/settings.scss";

.root {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  .addOfferButton__active {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
  .offerRow {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
    .offerRow {
      width: 50%;
    }
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
    .offerRow {
      width: 60%;
    }
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
    .offerRow {
      width: 80%;
    }
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .offerRow {
      width: 80%;
    }
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    .offerRow {
      width: 80%;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .offerRow {
      width: 80%;
    }
  }
}
