@import "../../../styles/settings.scss";

.root {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 500ms ease-in-out;
  width: 100vw;
  z-index: 9999999;
  .popupContent {
    align-items: center;
    background-color: #edf7f6;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    position: relative;
    width: 50vw;
    .actionButtons {
      align-items: center;
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      :nth-child(2) {
        margin-left: 1rem;
      }
    }
  }
}
