@import "../../../styles/settings.scss";

.root {
  .addPhoto {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    left: 5vw;
    max-height: 75vh;
    max-width: 90vw;
    opacity: 1;
    overflow-y: auto;
    padding: 2vh 0 2vh 0;
    padding: auto;
    position: fixed;
    top: 25vh;
    transition: $transition;
    visibility: visible;
    width: 350px;
    box-shadow: $box-shadow;
  }
  .addPhoto__hidden {
    @extend .addPhoto;
    opacity: 0;
    visibility: hidden;
  }
  .addPhotoButton {
    position: fixed;
    top: 25vh;
    left: 5vw;
    z-index: 1;
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
