$base-padding: 24px;
$radius: 5px;
$base-size: 1rem;
$transition: all 0.3s;
$transition-long: all 0.8s;
$font-title: "Dancing Script", cursive;
$font-text: "Quicksand", sans-serif;

/* DO NOT USE THOSE VARIABLES IN THE OTHER SCSS FILES! */
$black: #000000;
$blue: #0000ff;
$darkGray: #363636;
$darkWhite: #e1e1e1;
$gray: #3d4447;
$green: #008000;
$lightBlack: #2a2a2a;
$lightGray: #748187;
$lightGreen: #32cd32;
$lightGreyBlue: #7aa3cc;
$lightWhite: #f4f5f7;
$lightWhiteBlue: #edf7f6;
$mint: #aaf0d1;
$pink: #ffc0cb;
$darkPink: #be6f7d;
$red: #ff0000;
$transparent: transparent;
$white: #ffffff;
$yellow: #ffff00;

$colorSuccess: #1fc391;
$colorError: #ffc0cb;

$box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
$box-shadow-small: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);

$lightBlueGradient: linear-gradient(-45deg, #cfd9df 0%, #abbdc7 100%);
$lightGrayGradient: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

/*Background*/
$background-bg: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);

/*Link*/
$link-color: $gray;
$link-color-splash: $white;
$link-color-active: $lightGray;
$link-shadow: none;
$link__scroll-color-darkTheme: $white;
$link-color-darkTheme: $lightGray;
$link-color-darkTheme__hover: $darkPink;

/*Button*/
$button-main-bg-hover: $lightGray;
$button-main-bg: $gray;
$button-main-text-hover: $gray;
$button-main-text: $white;
$button-outline-bg-hover: $lightGray;
$button-outline-bg: $white;
$button-outline-border: $lightBlack;
$button-outline-text-hover: $white;
$button-outline-text: $lightBlack;

/*Input*/
$input-error: $colorError;
$input-error-text: $darkPink;

/*Loader*/
$loader-color: $gray;

/*Header*/

$logo-color: invert(24%) sepia(7%) saturate(680%) hue-rotate(152deg) brightness(93%) contrast(87%)
  drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
$logo-color-active: invert(54%) sepia(12%) saturate(331%) hue-rotate(154deg) brightness(89%) contrast(87%)
  drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
$header-bg: $lightGray;
$header-links-RWD-bg: linear-gradient(-45deg, #cfd9df 0%, #abbdc7 100%);

/*Category*/
$category-bg: $white;

/*Offer*/
$offer-bg: $white;

/*OfferModal*/
$offerModal--title-bg: $lightBlueGradient;

/*SliderSelector*/
$sliderSelector-bg: $white;
$sliderSelector-photoSlide-bg: $white;

/*AddCategory*/
$addCategory-bg: $white;

/*Burger*/
$burger-bg: $lightBlueGradient;
$burger-button-bg: $lightBlueGradient;

/*GalleryPage*/
$galleryPage-bg: $white;

/*Footer*/
$footer-bg: $lightGrayGradient;

/*Header*/
$header-bg: $lightGrayGradient;
$header-link: $white;
$header-link-stroke: 5px $white;

/*Photo Selector*/
$photoSelector-background: $white;
$photoSelector-icon__chosen-color: $green;
$photoSelector-icon__chosen-bg: $white;

/*Popup*/
$popup-content-bg: $lightWhiteBlue;

/*Add Category Form*/
$addCategoryForm-bg: $white;

/*Add Offer Form*/
$addOfferForm-bg: $white;

/*Contact Form*/
$submitFeedback-color: $white;
$submitFeedback-bg: $colorSuccess;

/*Slider*/
$slider-caption-bg: rgba(0, 0, 0, 0.3);
$slider-caption-text: $white;

/*Main Layout*/
$mainLayout-content__splash-bg: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

/*Contact Page*/

$contactPage-bg: $white;
