@import "./settings.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  color: #3d4447;
  // text-shadow: 2px 2px #95a5ad;
  margin: 0;
}
