@import "../../../styles/settings.scss";

.root {
  align-items: center;
  background-color: $photoSelector-background;
  border-radius: 5px;
  bottom: 15%;
  box-shadow: $box-shadow-small;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  width: 85%;
  z-index: 10;
  .photoPick {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;
    .photoSlide {
      align-items: center;
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      margin: 0;
      outline: none;
      padding-bottom: 0;
      padding: 0;
      position: relative;
      .icon__chosen {
        background-color: $photoSelector-icon__chosen-bg;
        border-radius: 50%;
        color: $photoSelector-icon__chosen-color;
        position: absolute;
        right: 0;
        top: 5%;
      }
      img {
        margin: 0;
        object-fit: contain;
        padding: 0.4rem 0.2rem;
        width: 6rem;
      }
    }
    .photoSlide__checked {
      @extend .photoSlide;
      position: relative;
      &::after {
        background: rgba(255, 255, 255, 0.5);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }
}
