@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

.root {
  align-items: center;
  // background: linear-gradient(45deg, #cfd9df 0%, #abbdc7 100%);
  // box-shadow: 0px 25px 20px 0px rgba(0, 0, 0, 0.15);
  // background: linear-gradient(
  //   180deg,
  //   rgba(0, 0, 0, 0.3) 0%,
  //   rgba(0, 0, 0, 0) 100%
  // );
  z-index: 1000;
  display: flex;
  font-family: $font-title;
  // height: 15vh;
  justify-content: center;
  // padding: $base-size 0;
  position: fixed;
  top: 0;
  width: 100vw;
  // z-index: 5;

  .mainMenu {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    &:after {
      background-image: linear-gradient(45deg, #cfd9df 0%, #abbdc7 100%);
      content: "";
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-in-out;
      width: 100%;
      z-index: -1;
    }
    .link {
      font-size: $base-size;
      color: $lightWhite;
      stroke: 5px $white;
      text-shadow: 2px 2px black;
      font-weight: 700;
      margin-right: $base-size;
      text-decoration: none;
      transition: $transition;
      font-size: $base-size * 2;
      &:hover {
        color: $header-link-active-hover;
      }
      &:global(.active) {
        color: $header-link-active;
      }
    }
  }

  .mainMenu__scroll {
    @extend .mainMenu;
    &:after {
      visibility: hidden;
      opacity: 0;
      // background-image: linear-gradient(
      //   180deg,
      //   rgba(0, 0, 0, 1) 0%,
      //   rgba(0, 0, 0, 0) 100%
      // );
    }
    .link {
      color: $lightWhite;
    }
  }
}

.logoImg {
  // box-shadow: 0px 25px 20px 0px rgba(0, 0, 0, 0.15);
  // left: 2vw;
  // position: absolute;
  // top: 1vh;
  // background-size: cover;
  display: inline-block;
  height: 10vh;

  // fill: white;
  transition: $transition;
  // filter:
  img {
    // stroke: 5px $white;
    // text-shadow: 2px 2px black;
    filter: invert(94%) sepia(1%) saturate(349%) hue-rotate(184deg)
      brightness(105%) contrast(95%) drop-shadow(2px 2px rgba(0, 0, 0, 1));
  }
}

.rootOnScroll {
  height: 5vh;
}

.logoImgOnScroll {
  img {
    height: 5vh;

    //left: 2vw;
    //position: absolute;
    //top: 1vh;
    transition: $transition;
  }
}

.logoImg:hover {
  img {
    filter: invert(66%) sepia(64%) saturate(244%) hue-rotate(170deg)
      brightness(85%) contrast(87%) drop-shadow(2px 2px rgba(0, 0, 0, 1));
  }
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1199px) {
  .mainMenu {
    padding: 0;
    a:not(:first-child) {
      display: none;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .mainMenu {
    padding: 5vh 0 5vh 0;
    a {
      font-size: $base-size * 1.75;
    }
    a:not(:first-child) {
      display: flex;
    }
  }
}
