@import "../../../styles/settings.scss";

.root {
  .photoBox {
    cursor: pointer;
    height: auto;
    margin: 2px;
    position: relative;
    width: auto;
    img {
      object-fit: cover;
      max-height: 300px !important;
      max-width: 450px !important;
    }
    .editPhotoButton,
    .deletePhotoButton {
      position: absolute;
      z-index: 1;
      top: 5px;
    }
    .editPhotoButton {
      left: 5px;
    }
    .deletePhotoButton {
      right: 5px;
    }
    .editPhotoForm {
      align-items: center;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0%);
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}
