@import "../../../styles/settings.scss";

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  position: relative;
  .contactRow {
    align-items: center;
    background: $white;
    border-radius: $radius;
    border: 1px;
    box-shadow: $box-shadow-small;
    display: flex;
    justify-content: center;
    margin: 2rem;
    position: relative;
    width: 80%;
    .contactCol {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 40rem;
      justify-content: center;
      padding: 2rem 0 2rem 0;
      .contactLink {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 75%;
        p {
          margin: 0 0 0 0.5rem;
          padding: 0;
        }
      }
    }
  }
  .contactRow > div:nth-child(2) {
    height: 20rem;
    justify-content: space-around;
    padding: 0;
  }

  .editContact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
  }
  .editContactButton {
    position: absolute;
    right: -1rem;
    top: -1rem;
  }
  .socialIconsRow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .socialIconsRow__edit {
    @extend .socialIconsRow;
  }
  textarea {
    width: 90%;
  }
  .socialIcon {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 33%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
    width: 60%;
    .socialIconsRow {
      margin-right: 25%;
    }
    .socialIconsRow__edit {
      margin-right: 0;
    }
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
    width: 70%;
    .socialIconsRow {
      margin-right: 25%;
    }
    .socialIconsRow__edit {
      margin-right: 0;
    }
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .root {
    width: 80%;
    .contactRow .contactCol .contactLink {
      width: 60%;
    }
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 0) and (max-width: 992px) {
  .root {
    width: 100%;
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root .contactRow .contactCol .contactLink {
    width: 75%;
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root .contactRow .contactCol .contactLink {
    width: 80%;
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root .contactRow .contactCol .contactLink {
    width: 90%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root .contactRow .contactCol .contactLink {
    width: 100%;
    margin-left: 2rem;
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
