@import "../../../styles/settings.scss";

@media only screen and (max-width: 1199px) {
  .root {
    background-image: linear-gradient(-45deg, #cfd9df 0%, #abbdc7 100%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 100vh;
    max-width: 300px;
    padding-top: 10vh;
    position: absolute;
    right: -60vw;
    top: 0;
    transition: all 0.5s;
    width: 60vw;
    &__active {
      @extend .root;
      right: 0;
    }
    .burgerButton {
      align-items: center;
      background-image: linear-gradient(-45deg, #cfd9df 0%, #abbdc7 100%);
      border-radius: 10%;
      display: flex;
      justify-content: center;
      outline: none;
      position: fixed;
      right: 2vh;
      top: 2vh;
      transition: $transition;
      span,
      span:before,
      span:after {
        background-color: $link-color !important;
      }
    }
    .burgerButton__active {
      align-items: center;
      background-image: none;
      border-radius: 10%;
      display: flex;
      justify-content: center;
      outline: none;
      position: fixed;
      right: 2vh;
      top: 2vh;
      transition: $transition;
      span,
      span:before,
      span:after {
        background-color: $link-color !important;
      }
    }
  }
}

.burgerMenu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 0 0 0 2vw;
  transition: all 0.5s;
  width: 100%;
  font-size: 2em;
  .link {
    color: $link-color;
    font-size: $base-size * 1.5;
    font-weight: 700;
    // margin-right: $base-size;
    margin-top: 5vh;
    opacity: 0;
    padding: 2vh 0;
    text-decoration: none;
    // text-shadow: $link-shadow;
    transition: $transition;
    &:hover {
      color: $link-color-active;
    }
    &:global(.active) {
      color: $link-color-active;
    }
  }
  &__active {
    @extend .burgerMenu;
    transition: all 0.5s;
    .link {
      // margin-right: 0 !important;
      opacity: 1;
      // padding: 2vh 0;
      // text-align: center;
      transition: all 0.5s;
      // width: 90%;
      // width: auto;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
  .burgerButton {
    display: none !important;
  }
}
