@import "../../../styles/settings.scss";

.root {
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.content {
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;
}

@media only screen and (max-width: 1199px) {
  .content {
    margin-top: 25vh;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    margin-top: 30vh;
  }
}
