@import "../../../styles/settings.scss";

.root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 15vh;
  // bottom: 0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: $font-title;
  font-weight: 400;
  a {
    // text-shadow: $link-shadow;
    align-items: center;
    color: $link-color;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5em;
    :hover {
      color: $link-color-active;
    }
    p {
      // font-size: 3vh;
      margin-bottom: 0;
    }
  }
  .footerIcon {
    font-size: 1.5em;
  }
}
