@import "../../../styles/settings.scss";

.root {
  font-family: $font-text;
  height: 80vh;
  margin-top: 5vh;
  position: relative;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .editAboutButton {
    position: absolute;
    right: 10%;
    top: 25%;
  }
  .editAbout {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  input {
    width: 100%;
  }
  textarea {
    margin-bottom: 20px;
    width: 100%;
  }
}

.container {
  height: 100%;
  max-width: 1400px;
  width: 90%;
}
.aboutImage {
  border-radius: 50%;
  height: 25vh;
  overflow: hidden;
  position: relative;
  width: 25vh;

  img {
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    width: 100%;
  }
}
.aboutImage:hover img {
  transform: scale(1.5);
}

.aboutDescription {
  h3 {
    font-size: 2rem;
  }
  p {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1199px) {
  .root {
    height: 100vh;
  }
}
