@import "../../../styles/settings.scss";

.root {
  align-items: center;
  display: flex;
  font-family: $font-text;
  height: 100%;
  justify-content: center;
  width: 100%;
  .offerRow {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: auto;
    padding-bottom: 2vh;
    width: 80%;
    .offerColumn {
      height: 70%;
      display: flex;
      justify-content: center;
    }
    .addOfferColumn {
      display: flex;
      align-items: center;
      justify-content: center;
      .addOfferButton {
      }
      .addOfferButton__active {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
      }
    }
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 0) and (max-width: 1023px) {
  .root {
    width: 100%;
    .offerRow {
      width: 100%;
    }
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
  }
}

/* Extra Small Devices, Small Phones Landscape*/
@media only screen and (max-height: 499px) {
  .root .offerRow .offerColumn {
    height: auto;
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
