@import "../../../styles/settings.scss";

.root {
  background-color: white;
  bottom: 10%;
  box-shadow: $box-shadow-small;
  display: flex;
  // height: 10vh;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  width: 85%;
  z-index: 10;
  .photoPick {
    display: flex;
    flex-direction: row;
    height: 20vh;
    height: auto;
    margin: 0;
    padding: 0;
    width: 50%;
    .photoSlide {
      background: none;
      border: none;
      height: 10vh;
      outline: none;
      position: relative;
      width: 50%;
      img {
        background-color: white;
        height: 10vh;
        object-fit: contain;
        width: 10vh;
        padding: 0 2px 0 2px;
      }
    }
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
